/*index page style*/
$myparagraph: 25px;
$myshadow: 1px 1px 1px black;
$myboxshadow: 0 -1px 20px gray; //0 1px 20px gray; for bottom
$mySpacing: 50px;

$firstColor: #00B7FF; //light blue

$thirdColor: #4a4a4a; //dark grey
$fourthColor: #909090; //light grey

.mypage {
	padding: 0;
}
.myNav {
	background: black;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 0;
	/*make it sticky */
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	a {
		color: white;
		text-decoration: none;
		padding: 0 1em;
	}
	li {
		margin: 10px 0 0 0;
		list-style-type: none;
		border-bottom: solid 3px transparent;
		transition: all 0.4s ease-out;
		&:first-child {
			margin-right: auto;
		}
		&::after {
			content: '';
			display: block;
			height: 3px;
			width: 0;
		}
		&:hover {
			border-bottom: 3px solid $firstColor;
			transition: all 0.4s ease-out;
		}
		&:first-child:hover {
			margin-right: auto;
			background: none;
			border-bottom: none;
		}
		&:last-child{
			margin-right: 50px;
		}
	}
}

/* underline effect on the nav items */
/* don't want to underline the logo with blue line*/

.myWrapper {
	margin: auto;
	width: 75%;
	// height: 100%;
}
//END myWrapper
.headerDiv {
	width: 100%;
	height: 100vh;
	min-height: 800px;
	background: url("../images/Header.jpg") top center fixed;
	background-size: cover;
	padding: 0;
	display: inline-block;
	box-shadow: 0 1px 20px black;
	text-shadow: 2px 2px 2px black;
	section {
		width: 40%;
		left: 55%;
		top: 20%;
		position: absolute;
		//background-color: rgba(245,245,245, 0.5);
		color: white;
		padding: 50px;
		border-radius: 30px;
	}
	p {
		font-size: $myparagraph;
	}
	h1{
		color:white;
		text-align: left;
	}
	section a.btn {
		color: white;
		position: relative;
		margin-top: 40px;
		padding: 12px 40px;
		border: 2px solid white;
		font-size: 1.2em;
		transition: 0.5s ease-in-out all;
		&:active {
			top: 3px;
		}
		&:hover {
			color: white;
			border: 2px solid #00B7FF;
			transition: 0.5s ease-in-out all;
		}
	}
}
//END HEADER
.welcomeContent{
	width: 100%;
	background: #fff;
	min-height: 40vh;
	height: auto;
	h1{
		text-align: center;
	}
	h2{
		margin: 0;
		&::after {
		content: '';
		display: block;
		height: 3px;
		width: 10%;
		padding-top: 20px;
		margin-bottom: 20px;
		border-bottom: 3px solid $firstColor;
	}
	}
	p{
		font-size: $myparagraph;
	}
	.myWrapper{
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
		//width: 85%;
	}
	.welcomeInfo{
		width: 30%;
		height: auto;
	}
	.welcomeImage{
		width: 70%;
		height: auto;
		img{
			position: relative;
			width:100%;
		}
	}
}
//END welcomeContent
.firstContent{
	height: auto;
	min-height: 50vh;
	width: 100%;
	padding-top: $mySpacing; padding-bottom: $mySpacing;
	.myWrapper{
		h1{
			text-align: center;
		}
		p{
			color:#333333;
			font-size: $myparagraph;
			text-shadow: none;
		}
	}
		.mainInfo {
			display: flex;
			justify-content: space-around;
			align-items: flex-start;
			flex-flow: row wrap;
			width: 100%;
			margin-top: 5%;
			img {
				width: 15%;
			}
				.mainContent {
					width: 30%;
					margin-right: 1%;
					text-align: center;
					transition: all 0.5s ease-out;
					cursor: pointer;
					p:nth-of-type(1){
						&::after {
							content: '';
							display: block;
							height: 3px;
							width: 7%;
							padding: 20px 0px 0px 0px;
							margin: auto;
							border-bottom: 3px solid $firstColor;
						}
					}
					&:hover {
						transform: scale(1.1);
						transition: all 0.2s ease-out;
						span{
							color:$firstColor;
							transition: all .5s ease-out;
						}
					}
				}
			}
	}
//END firstContent
.contentTwo{
	width: 100%;
	height: auto;
	min-height: 50vh;
	display:flex;
	align-content: center;
	background-color:$firstColor;
	padding-top: $mySpacing/2;
	padding-bottom: $mySpacing/2;
	box-shadow: 0 -1px 20px gray;
	box-shadow: 0 -1px 20px gray;
	.myWrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
		align-content: center;
		.divOne, .divTwo{
			flex-grow: 1;
			min-height: 200px;
			width: 50%;
			color:white;
			p {
			font-size: $myparagraph;
			}
			h1{
				text-align: left;
		 	color:white;
				&::after {
				content: '';
				display: block;
				height: 3px;
				width: 10%;
				padding-top: 20px;
				border-bottom: 3px solid white;
		}
		}
	}
		.divOne{
			// background: red;
			figure {
				background: url("../images/doc2.png");
				width: 436px;
				height: 572px;
				position: relative;
				margin: auto;
				&:hover{
					background: url("../images/doc2Hover.png");
				}
			}
		}
		.divTwo{
			// background: yellow;
			a{
				color: white;
				position: relative;
				margin-top: 40px;
				padding: 12px 40px;
				border: 2px solid white;
				font-size: 1.2em;
				transition: 0.5s ease-in-out all;
				&:active {
					top: 3px;
				}
			}
			}
		.divThree{
			// background: green;
			}
		.divFour{
			// background: black;
			}
		}
	}
//END contentTwo
.ourTeam{
	h4{
		&::after {
		content: '';
		display: block;
		height: 3px;
		width: 5%;
		margin: auto;
		padding-top: 20px;
		margin-bottom: 20px;
		border-bottom: 3px solid $thirdColor;
		}
	}
	.myWrapper{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	.userCard{
		flex-basis:30%;
		height: auto;
		margin-right: 10px;
		}
	}
}
//END ourTeam
.contactUS {
	background: #333333;
	width: 100%;
	height: 55vh;
	h4 {
		margin: 0 0 0.5em;
	}
	.btn-440w {
		margin-right: 0px;
		margin-top: 1em;
	}
	label {
		color: #35A3C5;
	}
	.myWrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		width: 90%;
		border-top:9em;
	}
}
//END contactUS
.footer {
	width: 100%;
	height: 20vh;
	background: $thirdColor;
	color: $fourthColor;
	background-size: cover;
	box-shadow: 0 -1px 20px black;
	.myWrapper{
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	section{
		position: relative;
		text-align: left;
		width: 25%;
		font-size: 20px;
	}
}
//END footer


@media (max-width: 600px) {
	.firstContent .mainInfo,
	.contentTwo .myWrapper {
		flex-flow: column;
		-webkit-flex-flow: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.mainContent,
	.myWrapper,
	.secondDiv {
		width: 100%;
	}
	.mainContent{
		padding-top: 20px;
	}
	.headerDiv section {
		width: 70%;
		margin: auto;
		position: relative;
		left: 0;
		top: 0;
		text-align: center;
	}

	.secondContent .myWrapper figure{
		display: none;
	}
}
