@import 'cards';

body {
font-family: 'Roboto Condensed', Arial, sans-serif; /*"Lucida Grande"*/
	&.swag {
		background: radial-gradient(white, #466477);
		top: 3em;
	}
}
.modal-backdrop {
	&.in {
		opacity: 0.8;
	}
}
.panel {
	&.panel-default {
		border: none;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		&.login {
			background: #95A7AD;
			border: none;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.cards {
			height: 10em;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border: none;
		}
	}
}
.panel-default {
	> .panel-heading {
		background-color: #35A3C5;
		border-color: #35A3C5;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
}
.table {
	thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
		border-top: 0px;
	}
	thead {
		> tr {
			> th {
				vertical-align: bottom;
			//	border-bottom: 2px solid #000000;
			}
		}
	}
}
.table-striped {
	> tbody {
		> tr:nth-child(odd) {
			> td {
				background-color: rgba(249, 151, 5, 0.4);
			}
		}
	}
}
.nav {
	&.nav-pills {
		&.nav-stacked {
			background-color: #ffffff;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			> li + li{
				margin: 0px;
				position: relative;
				z-index: 2;
			}
			li:nth-of-type(2){
				border-left: 5px solid $darkblue;
			}
			li:nth-of-type(3){
				border-left: 5px solid $yellow;
			}
			li:nth-of-type(4){
				border-left: 5px solid $lightblue;
			}
			li:nth-of-type(5){
				border-left: 5px solid $red;
			}
			li:nth-of-type(6){
				border-left: 5px solid $orange;
			}
			li:nth-of-type(7){
				border-left: 5px solid $green;
			}
			a:after {
		  content: "";
		  height: 100%;
		  left: 0;
		  top: 0;
		  width: 0px;
		  position: absolute;
		  transition: all 0.2s ease 0s;
		  -webkit-transition: all 0.2s ease 0s;
		  z-index: -1;
		}
		 a:hover:after{ width: 100%; }
		 li:nth-child(2) a:after {background: $darkblue;}
		 li:nth-child(3) a:after {background: $yellow;}
		 li:nth-child(4) a:after {background: $lightblue;}
		 li:nth-child(5) a:after {background: $red;}
		 li:nth-child(6) a:after {background: $orange;}
		 li:nth-child(7) a:after {background: $green;}
	}
	}
}
.nav-pills {
	> li.active {
		> a {
			color: #ffffff;
			background-color: #35A3C5;
			// &:hover{
			// 	color: #ffffff;
			// 	background-color: #35A3C5;
			// }
			// &:focus {
			// 	color: #ffffff;
			// 	background-color: #35A3C5;
			// }
		}
	}
}
// .nav {
// 	> li {
// 		> a:hover {
// 			color: white;
// 			background-color: #A1B4BA;
// 		}
// 	}
// }
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
		color:white;
    background-color: transparent;
		transition: all 0.2s ease 0s;
		-webkit-transition: all 0.2s ease 0s;
}
.nav-pills {
	> li {
		> a {
			color: black;
			border-radius: 0;
		}
	}
}
.nav-pills{
	#overviewtab:hover{
		color:black;
	}
	#overviewtab:focus{
		color:white;
	}
}
.btn-440w {
	color: white;
	background-color: #35A3C5;
	margin-right: 2.2em;
	&.nm {
		margin-right: 0em !important;
	}
	&:hover {
		color: white;
		background-color: #A1B4BA;
	}
}
.btn-blue {
	color: #ffffff;
	background-color: #35A3C5;
	border-color: #35A3C5;
}
.p-t {
	padding-top: 3em;
}
.p-t-b-h {
	padding-top: 1.8em;
}
