
extends dashboard

block content
	.container-fluid
		.row
			.col-sm-3
				ul.nav.nav-pills.nav-stacked
					li.active(role='presentation')
						a(href='/dashuserprofile') Home
					li(role='presentation')
						a(href='') Profile
					li(role='presentation')
						a(href='') Messages
