
extends loggedinlayout

block content
	.p-t
	center 
		h1= "Welcome Back, " + userdata.firstname + " " + userdata.lastname + "!"
	.container
		.row
			.col-sm-2
				ul.nav.nav-pills.nav-stacked
					li.active(role='presentation')
						a(data-toggle="tab", href='#overview') User Overview
					li(role='presentation')
						a(data-toggle="tab", href='#profilepage') User Profile
					li(role='presentation')
						a(data-toggle="tab", href='#results') Test Results
					li(role='presentation')
						a(data-toggle="tab", href='#allergies') Allergies	
					li(role='presentation')
						a(data-toggle="tab", href='#medicines') Medicines
					li(role='presentation')
						a(data-toggle="tab", href='#appointments') Appointments
					li(role='presentation')
						a(data-toggle="tab", href='#Immunizations') Immunizations
			.col-sm-10
				.tab-content
					#overview.tab-pane.fade.in.active
						test-result-cards
						medication-cards
						allergy-cards
						immunization-cards
					#profilepage.tab-pane.fade.in
						.col-sm-12
							form
								.form-horizontal
									.form-group
										.col-sm-6
											label.control-label First Name
											input.form-control(type='text', ng-model="userdata.firstname")
										.col-sm-6
											label.control-label Last Name
											input.form-control(type='text', ng-model="userdata.lastname")
									.form-group
										.col-sm-6
											label.control-label Email
											input.form-control(type='text', ng-model="userdata.email")
										.col-sm-6
											label.control-label Street Address
											input.form-control(type='text', ng-model="userdata.streetaddress")
									.form-group
										.col-sm-6
											label.control-label City
											input.form-control(type='text', ng-model="userdata.city")
										.col-sm-6
											label.control-label State
											input.form-control(type='text', ng-model="userdata.state")
									.form-group
										.col-sm-6
											label.control-label Zip
											input.form-control(type='text', ng-model="userdata.country")
										.col-sm-6
											label.control-label Phone
											input.form-control(type='text', ng-model="userdata.phone")
									.form-group
										.col-sm-6
											label.control-label Date Of Birth
											input.form-control(type='text', ng-model="userdata.dob")
										.col-sm-6
											label.control-label Gender
											input.form-control(type='text', ng-model="userdata.gender")
									.form-group
										.col-sm-6
											label.control-label Height
											input.form-control(type='text', ng-model="userdata.height")
										.col-sm-6
											label.control-label Weight
											input.form-control(type='text', ng-model="userdata.weight")
									.form-group
										.col-sm-6
											label.control-label Primary Insurance
											input.form-control(type='text', ng-model="userdata.primaryinsurance")
										.col-sm-6
											label.control-label Primary Pharmacy
											input.form-control(type='text', ng-model="userdata.primarypharmacy")
									.form-group
										.col-sm-12
											label.control-label Comments
											textarea.form-control(rows="5", type='text', ng-model="userdata.comment")
									button(class="btn btn-440w nm pull-right" ng-click="updateUserDate()") Save
					#results.tab-pane.fade.in
						test-result-cards
					#appointments.tab-pane.fade
						.col-sm-12
							h2.nm Appointments
						.col-sm-12
							table(class="table table-striped")
								thead
									tr 
										th Date
										th Time
										th Doctor
										th Description
								tbody
									tr(ng-repeat='data in userAppointments')
										td {{data.date}}
										td {{data.time}}
										td {{data.doctor}}
										td {{data.description}}
						.col-sm-12
							hr
							form
								.form-horizontal
									.form-group
										.col-sm-12.input-group
											label.control-label Date
											input.form-control.datepicker(type='text', ng-model="apptReq.date")
									.form-group
										.col-sm-12.input-group
											label.control-label Time
											.input-group.clockpicker(data-placement='top', data-align='top', data-autoclose='true')
												input.form-control(type='text', ng-model="apptReq.time")
												span.input-group-addon
													span.glyphicon.glyphicon-time
									.form-group
										.col-sm-12.input-group
											label.control-label Doctor
											input.form-control(type='text', ng-model="apptReq.doctor")
									.form-group
										.col-sm-12.input-group
											label.control-label Reason For Appointment
											textarea.form-control(rows='3', ng-model="apptReq.reasonForAppt")
									button(class="btn btn-440w nm pull-right", ng-click="reqAppt($event)") Request New Appointment
					#medicines.tab-pane.fade
						medication-cards
					#allergies.tab-pane.fade
						allergy-cards
					#Immunizations.tab-pane.fade
						immunization-cards
