extends layout

block content
	.headerDiv
		section
			h1 Your Health Matters...
			p Know everything about your health from the comfort of your own home
			a.btn Find out how
	.myWrapper
		.mainInfo
			.mainContent
				p
					img(src="../images/icons/healthy.svg")
				p
					| Be able to request appointments and check up on your health
			.mainContent
				p
					img(src="../images/icons/medical-1.svg")
				p
					| See all your history and data in one centralized place, including medication, immunizations, etc.
			.mainContent
				p
					img(src="../images/icons/technology.svg")
				p
					| Secure access to your personal records


	.secondContent
		.myWrapper
			.secondDiv
				h2 We take your health seriously
				p
					| Manage your personal medical records, communicate with your doctors and make more informed decisions about your health. 
					| This patient portal allows you to view and manage lab orders, test results and upcoming appointments from any internet enabled device. 
					| Exchange messages with your provider and conveniently request prescription refills. 
	.contactUS
		.myWrapper
			.row
				.col-sm-2
					section.profile
						div.profile-header
						div.profile-content
							img(src="http://dir.agosto.nl/dump/Sara.jpg", alt="Portret of Sara Robertson")
							h1 Abigail
							p Graphic designer
				.col-sm-2
					section.profile
						div.profile-header
						div.profile-content
							img(src="http://dir.agosto.nl/dump/Sara.jpg", alt="Portret of Sara Robertson")
							h1 Amy
							p Graphic designer
				.col-sm-2
					section.profile
						div.profile-header
						div.profile-content
							img(src="http://dir.agosto.nl/dump/Sara.jpg", alt="Portret of Sara Robertson")
							h1 Baha
							p Graphic designer
				.col-sm-2
					section.profile
						div.profile-header
						div.profile-content
							img(src="http://dir.agosto.nl/dump/Sara.jpg", alt="Portret of Sara Robertson")
							h1 Charles
							p Graphic designer
				.col-sm-2
					section.profile
						div.profile-header
						div.profile-content
							img(src="http://dir.agosto.nl/dump/Sara.jpg", alt="Portret of Sara Robertson")
							h1 Rahul
							p Graphic designer
				.col-sm-2
					section.profile
						div.profile-header
						div.profile-content
							img(src="http://dir.agosto.nl/dump/Sara.jpg", alt="Portret of Sara Robertson")
							h1 Ryan
							p Graphic designer
	//- .footer
	//- 	.myWrapper
