extends layout

block content
	.headerDiv
		section
			h1 Your Health Matters...
			p Know everything about your health from the comfort of your own home
			a.btn Find out how

	.welcomeContent
		h1 Welcome to the ClientPortal
			h4 here's everything you need to know
		.myWrapper
			.welcomeInfo
				h2 Single place for all your medical information
				p
					| All of your medical information in one place.
					| No wait. No travel. No Hassle.

			.welcomeImage
				img(src="../images/showcase.png")


	.firstContent
		.myWrapper
			h1 ClientPortal provides endless possibilities
				h4 some of the features include
				.mainInfo
					.mainContent
						p
							span.flaticon-day
						p
							| Be able to request appointments and check up on your latest and previous health information
					.mainContent
						p
							span.flaticon-medical-3
						p
							| See all your history and data in one centralized place, including medication, immunizations, etc.
					.mainContent
						p
							span.flaticon-technology-1
						p
							| We make it possible to access your personal medical records safely and securely

	.contentTwo
		.myWrapper

			.divOne
				figure

			.divTwo
				h1 We take your health seriously
				p
					|This patient portal allows you to view and manage lab orders, test results and upcoming appointments from any internet enabled device.
					|Exchange messages with your provider and conveniently request prescription refills.
					|Manage your personal medical records, communicate with your doctors and make more informed decisions about your health.
				a.btn(href='/login') Login Now

	.ourTeam
		h1 Meet Our Team
			h4 Feel free to contact us at anytime
		.myWrapper
			.userCard
				.userContainer
					.userTop
					.information
						img.avatar(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/avatar.png', alt='avatar')
						.name Baha Baha
						.position Front-End Dev
							p Some information about ourselves, and something quirky. i like sushi and shit i guess and fat wheels on brzs
							| maybe some social media links?

			.userCard
				.userContainer
					.userTop
					.information
						img.avatar(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/avatar.png', alt='avatar')
						.name Baha Baha
						.position Front-End Dev
							p Some information about ourselves, and something quirky. i like sushi and shit i guess and fat wheels on brzs
							| maybe some social media links?

			.userCard
				.userContainer
					.userTop
					.information
						img.avatar(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/avatar.png', alt='avatar')
						.name Baha Baha
						.position Front-End Dev
							p Some information about ourselves, and something quirky. i like sushi and shit i guess and fat wheels on brzs
							| maybe some social media links?

			.userCard
				.userContainer
					.userTop
					.information
						img.avatar(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/avatar.png', alt='avatar')
						.name Baha Baha
						.position Front-End Dev
							p Some information about ourselves, and something quirky. i like sushi and shit i guess and fat wheels on brzs
							| maybe some social media links?

			.userCard
				.userContainer
					.userTop
					.information
						img.avatar(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/avatar.png', alt='avatar')
						.name Baha Baha
						.position Front-End Dev
							p Some information about ourselves, and something quirky. i like sushi and shit i guess and fat wheels on brzs
							| maybe some social media links?

			.userCard
				.userContainer
					.userTop
					.information
						img.avatar(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/avatar.png', alt='avatar')
						.name Baha Baha
						.position Front-End Dev
							p Some information about ourselves, and something quirky. i like sushi and shit i guess and fat wheels on brzs
							| maybe some social media links?


			.displayCard
				.displayContainer
					.displayTop
					.information
						img.displayIcon(src="../images/userIcons/allergies/food.svg")
						.name Allergy
						.displayDescription Soy
							p Some information about soy shit

	.contactUS
		h1 Contact Us
			h4 Your input is important to us
		.myWrapper


	.footer
		.myWrapper
			section
				p
					|Copyright 2016 All Rights Reserved by IST440W TEAM3
					|PennState Abington
