@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
.userCard {
  color: #303336;
  padding: 40px 0; }

.userContainer {
  margin: 0 auto;
  width: 300px;
  height: 435px;
  background: white;
  border-radius: 6px;
  position: relative; }
  .userContainer .userTop {
    width: 100%;
    height: 150px;
    background: #557cd2;
    border-radius: 6px 6px 0 0; }
  .userContainer .information {
    text-align: center; }
  .userContainer .avatar {
    margin: -82px auto 15px;
    display: block;
    border-radius: 50%; }
  .userContainer .name {
    font-size: 25px; }
    .userContainer .name::after {
      content: '';
      display: block;
      height: 3px;
      width: 25%;
      padding-top: 10px;
      margin: auto;
      border-bottom: 3px solid #557cd2; }
  .userContainer .position {
    font-size: 22px;
    color: #69727e;
    margin-bottom: 24px; }
    .userContainer .position p {
      padding-top: 10px;
      text-align: center;
      font-size: 18px; }

.displayCard {
  color: #303336;
  padding: 20px 0; }

.displayContainer {
  margin: 0 auto;
  height: 340px;
  background: white;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 0;
  transition: top 0.2s ease; }
  .displayContainer:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    top: -5px;
    cursor: default; }
  .displayContainer .displayTop {
    width: 100%;
    height: 40px;
    border-radius: 6px 6px 0 0;
    text-align: center;
    color: white; }
    .displayContainer .displayTop.user-profile {
      background: #001a74; }
    .displayContainer .displayTop.test-results {
      background: #CA3491; }
    .displayContainer .displayTop.allergies {
      background: #00B7FF; }
    .displayContainer .displayTop.medicines {
      background: #fc3131; }
    .displayContainer .displayTop.appointments {
      background: #f79707; }
    .displayContainer .displayTop.immunizations {
      background: #27b534; }
  .displayContainer .information {
    text-align: center;
    margin-top: -20px; }
  .displayContainer .displayIcon {
    margin: -60px auto 15px;
    padding: 0px 0px 0px 0px;
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: solid 10px #fc3131;
    background-color: white; }
    .displayContainer .displayIcon p {
      text-align: center;
      margin: 0px; }
      .displayContainer .displayIcon p span {
        font-size: 38px;
        text-align: center;
        width: 100%; }
    .displayContainer .displayIcon.user-profile {
      border: solid 10px #001a74; }
    .displayContainer .displayIcon.test-results {
      border: solid 10px #CA3491; }
    .displayContainer .displayIcon.allergies {
      border: solid 10px #00B7FF; }
    .displayContainer .displayIcon.medicines {
      border: solid 10px #fc3131; }
    .displayContainer .displayIcon.appointments {
      border: solid 10px #f79707; }
    .displayContainer .displayIcon.immunizations {
      border: solid 10px #27b534; }
    .displayContainer .displayIcon img {
      border: solid 10px #fc3131; }
  .displayContainer .name {
    font-size: 25px; }
    .displayContainer .name.user-profile::after {
      border-bottom: 3px solid #001a74;
      content: '';
      display: block;
      height: 3px;
      width: 25%;
      padding-top: 5px;
      margin: auto; }
    .displayContainer .name.test-results::after {
      border-bottom: 3px solid #CA3491;
      content: '';
      display: block;
      height: 3px;
      width: 25%;
      padding-top: 5px;
      margin: auto; }
    .displayContainer .name.allergies::after {
      border-bottom: 3px solid #00B7FF;
      content: '';
      display: block;
      height: 3px;
      width: 25%;
      padding-top: 5px;
      margin: auto; }
    .displayContainer .name.medicines::after {
      border-bottom: 3px solid #fc3131;
      content: '';
      display: block;
      height: 3px;
      width: 25%;
      padding-top: 5px;
      margin: auto; }
    .displayContainer .name.appointments::after {
      border-bottom: 3px solid #f79707;
      content: '';
      display: block;
      height: 3px;
      width: 25%;
      padding-top: 5px;
      margin: auto; }
    .displayContainer .name.immunizations::after {
      border-bottom: 3px solid #27b534;
      content: '';
      display: block;
      height: 3px;
      width: 25%;
      padding-top: 5px;
      margin: auto; }
  .displayContainer .displayDescription {
    color: #909090; }
    .displayContainer .displayDescription h1 {
      padding: 10px;
      font-weight: 400;
      text-align: center;
      font-size: 23px; }
    .displayContainer .displayDescription h2 {
      font-size: 20px;
      margin: 10px 0 0;
      font-weight: 400; }
    .displayContainer .displayDescription h2:last-of-type {
      font-size: 18px;
      padding: 0 10px; }

body {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  /*"Lucida Grande"*/ }
  body.swag {
    background: radial-gradient(white, #466477);
    top: 3em; }

.modal-backdrop.in {
  opacity: 0.8; }

.panel.panel-default {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .panel.panel-default.login {
    background: #95A7AD;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .panel.panel-default .cards {
    height: 10em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none; }

.panel-default > .panel-heading {
  background-color: #35A3C5;
  border-color: #35A3C5;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
  border-top: 0px; }
.table thead > tr > th {
  vertical-align: bottom; }

.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: rgba(249, 151, 5, 0.4); }

.nav.nav-pills.nav-stacked {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .nav.nav-pills.nav-stacked > li + li {
    margin: 0px; }
  .nav.nav-pills.nav-stacked li:nth-of-type(2) {
    border-left: 5px solid #001a74; }
  .nav.nav-pills.nav-stacked li:nth-of-type(3) {
    border-left: 5px solid #CA3491; }
  .nav.nav-pills.nav-stacked li:nth-of-type(4) {
    border-left: 5px solid #00B7FF; }
  .nav.nav-pills.nav-stacked li:nth-of-type(5) {
    border-left: 5px solid #fc3131; }
  .nav.nav-pills.nav-stacked li:nth-of-type(6) {
    border-left: 5px solid #f79707; }
  .nav.nav-pills.nav-stacked li:nth-of-type(7) {
    border-left: 5px solid #27b534; }

.nav-pills > li.active > a {
  color: #ffffff;
  background-color: #35A3C5; }
  .nav-pills > li.active > a:hover {
    color: #ffffff;
    background-color: #35A3C5; }
  .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #35A3C5; }

.nav > li > a:hover {
  color: white;
  background-color: #A1B4BA; }

.nav-pills > li > a {
  color: black;
  border-radius: 0; }

.btn-440w {
  color: white;
  background-color: #35A3C5;
  margin-right: 2.2em; }
  .btn-440w.nm {
    margin-right: 0em !important; }
  .btn-440w:hover {
    color: white;
    background-color: #A1B4BA; }

.btn-blue {
  color: #ffffff;
  background-color: #35A3C5;
  border-color: #35A3C5; }

.p-t {
  padding-top: 3em; }

.p-t-b-h {
  padding-top: 1.8em; }

/*index page style*/
.nm {
  margin: 0px !important; }

.mypage {
  padding: 0; }

.myNav {
  background: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  /*make it sticky */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }
  .myNav a {
    color: white;
    text-decoration: none;
    padding: 0 1em;
    border-bottom: solid 3px transparent; }
    .myNav a img.myLogo {
      width: 100px;
      height: 100px; }
  .myNav li {
    margin: 10px 0 0 0;
    list-style-type: none;
    border-bottom: solid 3px transparent;
    transition: all 0.4s ease-out; }
    .myNav li:first-child {
      margin-right: auto; }
    .myNav li::after {
      content: '';
      display: block;
      height: 3px;
      width: 0; }
    .myNav li:hover {
      border-bottom: 3px solid #00B7FF;
      transition: all 0.4s ease-out; }
    .myNav li:first-child:hover {
      margin-right: auto;
      background: none;
      border-bottom: solid 3px transparent; }
    .myNav li:last-child {
      margin-right: 50px; }

/* underline effect on the nav items */
/* don't want to underline the logo with blue line*/
.myWrapper {
  margin: auto;
  width: 75%; }

.headerDiv {
  width: 100%;
  height: 100vh;
  min-height: 800px;
  background: linear-gradient(to bottom right, rgba(0, 47, 75, 0.4), rgba(221, 66, 36, 0.3)), url("../images/Header.jpg") top center fixed;
  background-size: cover;
  padding: 0;
  display: inline-block;
  box-shadow: 0 1px 20px black;
  text-shadow: 2px 2px 2px black; }
  .headerDiv section {
    width: 40%;
    left: 55%;
    top: 20%;
    position: absolute;
    color: white;
    padding: 50px;
    border-radius: 30px; }
  .headerDiv p {
    font-size: 25px; }
  .headerDiv h1 {
    color: white;
    text-align: left; }
  .headerDiv section a.btn {
    color: white;
    position: relative;
    margin-top: 40px;
    padding: 12px 40px;
    border: 2px solid white;
    font-size: 1.2em;
    transition: 0.5s ease-in-out all; }
    .headerDiv section a.btn:active {
      top: 3px; }
    .headerDiv section a.btn:hover {
      color: white;
      border: 2px solid #00B7FF;
      transition: 0.5s ease-in-out all; }

.welcomeContent {
  width: 100%;
  background: #fff;
  min-height: 40vh;
  height: auto;
  margin: 3% 0px 5% 0px;
  text-shadow: 1px 1px 1px #DEDEDE; }
  .welcomeContent h1 {
    text-align: center; }
  .welcomeContent h2 {
    margin: 0; }
    .welcomeContent h2::after {
      content: '';
      display: block;
      height: 3px;
      width: 10%;
      padding-top: 20px;
      margin-bottom: 20px;
      border-bottom: 3px solid #00B7FF; }
  .welcomeContent p {
    font-size: 25px; }
  .welcomeContent .myWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center; }
  .welcomeContent .welcomeInfo {
    width: 30%;
    height: auto; }
  .welcomeContent .welcomeImage {
    width: 70%;
    height: auto; }
    .welcomeContent .welcomeImage img {
      position: relative;
      width: 100%; }

.firstContent {
  background: linear-gradient(to bottom right, rgba(54, 9, 1, 0.8), rgba(0, 47, 75, 0.8)), url("../images/second-min.jpg") top center fixed;
  background-size: cover;
  color: white;
  height: auto;
  min-height: 50vh;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0 -1px 20px black, 0 1px 20px black;
  margin-bottom: 15px; }
  .firstContent .myWrapper h1 {
    text-align: center;
    color: white; }
  .firstContent .myWrapper h4 {
    color: white; }
  .firstContent .myWrapper p {
    color: white;
    font-size: 25px;
    text-shadow: none; }
    .firstContent .myWrapper p span {
      color: white;
      font-size: 35px; }
  .firstContent .mainInfo {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 5%; }
    .firstContent .mainInfo img {
      width: 15%; }
    .firstContent .mainInfo .mainContent {
      width: 30%;
      margin-right: 1%;
      text-align: center;
      transition: all 0.5s ease-out;
      cursor: pointer; }
      .firstContent .mainInfo .mainContent p:nth-of-type(1)::after {
        content: '';
        display: block;
        height: 3px;
        width: 7%;
        padding: 20px 0px 0px 0px;
        margin: auto;
        border-bottom: 3px solid #00B7FF; }
      .firstContent .mainInfo .mainContent:hover {
        transition: all 0.2s ease-out; }
        .firstContent .mainInfo .mainContent:hover span {
          color: #00B7FF;
          transition: all .3s ease-out; }

.contentTwo {
  width: 100%;
  height: auto;
  min-height: 50vh;
  display: flex;
  align-content: center;
  background-color: #fff;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px; }
  .contentTwo .myWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center; }
    .contentTwo .myWrapper .divOne, .contentTwo .myWrapper .divTwo {
      flex-grow: 1;
      min-height: 200px;
      width: 50%;
      color: white; }
      .contentTwo .myWrapper .divOne p, .contentTwo .myWrapper .divTwo p {
        font-size: 25px;
        color: black; }
      .contentTwo .myWrapper .divOne h1, .contentTwo .myWrapper .divTwo h1 {
        text-align: left;
        color: black; }
        .contentTwo .myWrapper .divOne h1::after, .contentTwo .myWrapper .divTwo h1::after {
          content: '';
          display: block;
          height: 3px;
          width: 10%;
          padding-top: 20px;
          border-bottom: 3px solid #00B7FF; }
    .contentTwo .myWrapper .divOne figure {
      background: url("../images/doc2.png");
      width: 436px;
      height: 572px;
      position: relative;
      margin: auto; }
      .contentTwo .myWrapper .divOne figure:hover {
        background: url("../images/doc2Hover.png"); }
    .contentTwo .myWrapper .divTwo a {
      color: white;
      position: relative;
      margin-top: 40px;
      padding: 12px 40px;
      border: 2px solid white;
      font-size: 1.2em;
      transition: 0.5s ease-in-out all; }
      .contentTwo .myWrapper .divTwo a:active {
        top: 3px; }

.ourTeam {
  background: linear-gradient(to bottom right, rgba(0, 47, 75, 0.8), rgba(54, 9, 1, 0.8)), url("../images/third-min.jpg") center fixed;
  background-size: cover;
  color: white;
  height: auto;
  min-height: 50vh;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0 -1px 20px black, 0 1px 20px black;
  margin-bottom: 15px; }
  .ourTeam h1, .ourTeam h4 {
    color: white; }
  .ourTeam .myWrapper {
    min-height: 50vh; }

.contactUS {
  background: #fff;
  width: 100%;
  height: 55vh; }
  .contactUS h1 {
    color: black; }
  .contactUS h4 {
    margin: 0 0 0.5em; }
  .contactUS .btn-440w {
    margin-right: 0px;
    margin-top: 1em; }
  .contactUS label {
    color: #35A3C5; }
  .contactUS .myWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 90%;
    border-top: 9em; }

.footer {
  width: 100%;
  height: 20vh;
  background: #4a4a4a;
  color: #909090;
  background-size: cover;
  box-shadow: 0 -1px 20px black; }
  .footer .myWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .footer section {
    position: relative;
    text-align: left;
    width: 25%;
    font-size: 20px; }

@media (max-width: 600px) {
  .firstContent .mainInfo,
  .contentTwo .myWrapper {
    flex-flow: column;
    -webkit-flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%; }

  .mainContent,
  .myWrapper,
  .secondDiv {
    width: 100%; }

  .mainContent {
    padding-top: 20px; }

  .headerDiv section {
    width: 70%;
    margin: auto;
    position: relative;
    left: 0;
    top: 0;
    text-align: center; }

  .secondContent .myWrapper figure {
    display: none; } }
.userCard {
  color: #303336;
  padding: 40px 0; }

.userContainer {
  margin: 0 auto;
  width: 300px;
  height: 435px;
  background: white;
  border-radius: 6px;
  position: relative; }
  .userContainer .userTop {
    width: 100%;
    height: 150px;
    background: #557cd2;
    border-radius: 6px 6px 0 0; }
  .userContainer .information {
    text-align: center; }
  .userContainer .avatar {
    margin: -82px auto 15px;
    display: block;
    border-radius: 50%; }
  .userContainer .name {
    font-size: 25px; }
    .userContainer .name::after {
      content: '';
      display: block;
      height: 3px;
      width: 25%;
      padding-top: 10px;
      margin: auto;
      border-bottom: 3px solid #557cd2; }
  .userContainer .position {
    font-size: 22px;
    color: #69727e;
    margin-bottom: 24px; }
    .userContainer .position p {
      padding-top: 10px;
      text-align: center;
      font-size: 18px; }

.displayCard {
  color: #303336;
  padding: 20px 0; }

.displayContainer {
  margin: 0 auto;
  height: 340px;
  background: white;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 0;
  transition: top 0.2s ease; }
  .displayContainer:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    top: -5px;
    cursor: default; }
  .displayContainer .displayTop {
    width: 100%;
    height: 40px;
    border-radius: 6px 6px 0 0;
    text-align: center;
    color: white; }
    .displayContainer .displayTop.user-profile {
      background: #001a74; }
    .displayContainer .displayTop.test-results {
      background: #CA3491; }
    .displayContainer .displayTop.allergies {
      background: #00B7FF; }
    .displayContainer .displayTop.medicines {
      background: #fc3131; }
    .displayContainer .displayTop.appointments {
      background: #f79707; }
    .displayContainer .displayTop.immunizations {
      background: #27b534; }
  .displayContainer .information {
    text-align: center;
    margin-top: -20px; }
  .displayContainer .displayIcon {
    margin: -60px auto 15px;
    padding: 0px 0px 0px 0px;
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: solid 10px #fc3131;
    background-color: white; }
    .displayContainer .displayIcon p {
      text-align: center;
      margin: 0px; }
      .displayContainer .displayIcon p span {
        font-size: 38px;
        text-align: center;
        width: 100%; }
    .displayContainer .displayIcon.user-profile {
      border: solid 10px #001a74; }
    .displayContainer .displayIcon.test-results {
      border: solid 10px #CA3491; }
    .displayContainer .displayIcon.allergies {
      border: solid 10px #00B7FF; }
    .displayContainer .displayIcon.medicines {
      border: solid 10px #fc3131; }
    .displayContainer .displayIcon.appointments {
      border: solid 10px #f79707; }
    .displayContainer .displayIcon.immunizations {
      border: solid 10px #27b534; }
    .displayContainer .displayIcon img {
      border: solid 10px #fc3131; }
  .displayContainer .name {
    font-size: 25px; }
    .displayContainer .name.user-profile::after {
      border-bottom: 3px solid #001a74;
      content: '';
      display: block;
      height: 3px;
      width: 25%;
      padding-top: 5px;
      margin: auto; }
    .displayContainer .name.test-results::after {
      border-bottom: 3px solid #CA3491;
      content: '';
      display: block;
      height: 3px;
      width: 25%;
      padding-top: 5px;
      margin: auto; }
    .displayContainer .name.allergies::after {
      border-bottom: 3px solid #00B7FF;
      content: '';
      display: block;
      height: 3px;
      width: 25%;
      padding-top: 5px;
      margin: auto; }
    .displayContainer .name.medicines::after {
      border-bottom: 3px solid #fc3131;
      content: '';
      display: block;
      height: 3px;
      width: 25%;
      padding-top: 5px;
      margin: auto; }
    .displayContainer .name.appointments::after {
      border-bottom: 3px solid #f79707;
      content: '';
      display: block;
      height: 3px;
      width: 25%;
      padding-top: 5px;
      margin: auto; }
    .displayContainer .name.immunizations::after {
      border-bottom: 3px solid #27b534;
      content: '';
      display: block;
      height: 3px;
      width: 25%;
      padding-top: 5px;
      margin: auto; }
  .displayContainer .displayDescription {
    color: #909090; }
    .displayContainer .displayDescription h1 {
      padding: 10px;
      font-weight: 400;
      text-align: center;
      font-size: 23px; }
    .displayContainer .displayDescription h2 {
      font-size: 20px;
      margin: 10px 0 0;
      font-weight: 400; }
    .displayContainer .displayDescription h2:last-of-type {
      font-size: 18px;
      padding: 0 10px; }

/*text styles*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  /*"Lucida Grande"*/
  margin: 0; }

h1 {
  padding: 20px 0;
  font-size: 3.5em;
  font-weight: 700;
  color: #4a4a4a;
  text-align: center; }

h2 {
  margin: 1em;
  font-size: 2.8em;
  font-weight: 700;
  line-height: 1.1em;
  color: #4a4a4a; }

h3 {
  margin: 0 0.5em 0.5em;
  font-size: 2.8em;
  font-weight: 700; }

h4 {
  margin: 0 0 2.5em;
  font-size: 1.8em;
  font-weight: 400;
  color: #909090;
  text-align: center; }

p {
  font-weight: 400; }

span {
  color: #4a4a4a; }

.popover.clockpicker-popover {
  top: 15em !important; }

.datepicker-dropdown {
  top: 10.7em !important; }

.myRow {
  margin: 30px auto 10px;
  width: 75%;
  text-align: center; }
  .myRow button.MYBTN {
    width: 20%;
    color: white;
    position: relative;
    background: transparent;
    padding: 12px 40px;
    border: 2px solid white;
    font-size: 1.2em;
    transition: 0.5s ease-in-out all; }
    .myRow button.MYBTN:active {
      top: 3px; }
    .myRow button.MYBTN:hover {
      border: 2px solid #00B7FF;
      transition: 0.5s ease-in-out all;
      text-decoration: none;
      cursor: pointer; }

/*# sourceMappingURL=default.css.map */
