@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
  font: 14px;
  /* padding: 50px;*/
  font-family: "Lato", Helvetica, Arial, sans-serif; /*"Lucida Grande"*/
}

a {
  color: #00B7FF;
}
